.resources {
  width: 100%;
  float: left;
  height: 400px;
  overflow: auto;
}
.resources ul li {
  list-style: none;
  padding-left: 60px;
  position: relative;
  width: 100%;
  float: left;
  margin-bottom: 20px;
}
.resources ul li.iconPDF:before {
  background: url(../../images/iconXls.png);
  position: absolute;
  top: 0px;
  left: 0;
  width: 50px;
  height: 50px;
  content: "";
}
.resources ul li.iconXls:before {
  background: url(../../images/iconPDF.png);
  position: absolute;
  top: 0px;
  left: 0;
  width: 50px;
  height: 50px;
  content: "";
}
.resources ul li.IconPPT:before {
  background: url(../../images/IconPPT.png);
  position: absolute;
  top: 0px;
  left: 0;
  width: 50px;
  height: 50px;
  content: "";
}
.resources ul li h3 {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.resources ul li .desc {
  float: left;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
.resources ul li a {
  float: left;
  margin-right: 20px;
}
.resources ul li a + p {
  float: left;
}