.StrategyPlan {
  width: 100%;
  text-align: center;
  float: left;
  height: 400px;
}
.StrategyPlan img {
  margin-top: 50px;
}
.StrategyPlan input {
  display: none;
}
.StrategyPlan label {
  background: #2b236a;
  padding: 0 50px;
  line-height: 50px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 40px;
  text-transform: uppercase;
}
/* @media (max-width: 1199px) {
  .StrategyPlan img {
    max-width: 100%;
  } */